<a href="https://colab.research.google.com/github/thanhthuy280501/Data-Visualization/blob/main/DSC402_TN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello')
print('My name is Thuy Nguyen, and I am a computer science student minor in data analytics')

Hello
My name is Thuy Nguyen, and I am a computer science student minor in data analytics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# Now you can access your file at '/content/drive/MyDrive/DATA/lego_setsHB.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/DATA/lego_setsHB.csv'
df_lego = pd.read_csv(file_path)
display(df_lego.head())

,list_price,num_reviews,piece_count,play_star_rating,prod_id,review_difficulty,star_rating,val_star_rating
0,29.99,2.0,277,4.0,75823,Average,4.5,4.0
1,19.99,2.0,168,4.0,75822,Easy,5.0,4.0
2,12.99,11.0,74,4.3,75821,Easy,4.3,4.1
3,99.99,23.0,1032,3.6,21030,Average,4.6,4.3
4,79.99,14.0,744,3.2,21035,Challenging,4.6,4.1

In [ ]:
import csv

# Path to your file - update this if your shortcut is named differently
file_path = '/content/drive/MyDrive/DATA/lego_setsHB.csv'

price_dict = {}
difficulty_dict = {}

try:
    with open(file_path, mode='r', encoding='utf-8') as file:
        # Using a counter to stop at 1000 lines
        for i, line in enumerate(file):
            if i >= 1000:
                break

            # Split the line by comma
            columns = line.strip().split(',')

            # Basic validation: ensure the line has enough columns
            # Assuming: ID is col 0, Price is col 1, Difficulty is col 2
            # (Adjust indices based on your specific CSV structure)
            if len(columns) >= 3:
                prod_id = columns[0]
                price = columns[1]
                difficulty = columns[2]

                # Populating the dictionaries
                price_dict[prod_id] = price
                difficulty_dict[prod_id] = difficulty

    print(f"Successfully processed {len(price_dict)} unique products.")

except FileNotFoundError:
    print("Error: The file was not found. Please ensure the 'DATA' folder shortcut is set up correctly in Colab.")
except Exception as e:
    print(f"An error occurred: {e}")

# Example check:
# print(list(price_dict.items())[:5])

Successfully processed 95 unique products.

In [ ]:
import pandas as pd

# Load the dataset
file_path = '/content/drive/MyDrive/DATA/lego_setsHB.csv'
df_lego = pd.read_csv(file_path)

# Display summary information
print("--- DataFrame Info ---")
df_lego.info()

# Display descriptive statistics
print("\n--- Descriptive Statistics ---")
display(df_lego.describe())

In [ ]:
# Filter the DataFrame using boolean indexing for star_rating >= 4
star_rating_filter = df_lego['star_rating'] >= 4
high_rated_lego = df_lego[star_rating_filter]

# Display the filtered results
print(f"Number of Lego sets with star_rating >= 4: {len(high_rated_lego)}")
display(high_rated_lego.head())

In [ ]:
# find the number of Lego sets whose star_rating greater than or equal to 4. (Hint: consider using .count() on the specified column)
high_rated_count = high_rated_lego['star_rating'].count()
print(high_rated_count)

9563

In [ ]:
# find the average list price for the Lego sets whose star_rating greater than or equal to 4. (Hint: consider specifying the list_price column after obtaining data and before taking the average)
average_price = high_rated_lego['list_price'].mean()
print(average_price)

68.24627018717976

In [21]:
import pandas as pd
file_path = '/content/drive/MyDrive/DATA/olympic_medals.csv'
#Use the full file path variable to load the data
medals = pd.read_csv(file_path)
display(medals.head())
print('----------------------------------------------------------')

#Find the number of rows and columns, use the .shape
print('The number of rows, columns', medals.shape)
# Returns (rows, columns)
print('---------------------------------------------------------')


#Use the .dtypes to see the types for all columns
print(medals.dtypes)
print('----------------------------------------------------------')


#Use .unique() combined with len()
# Updated 'City' to 'Location'
unique_cities_count = len(medals['Location'].unique())
print('The uniques cities are', unique_cities_count)
print('---------------------------------------------------')


#Filter the dataframe for 'USA' and get the count
# Updated 'NOC' to 'Nationality'
usa_medals = medals[medals['Nationality'] == 'USA'].shape[0]
print('Medals the USA team won', usa_medals)
print('-----------------------------------------------------')


#Use the groupby() function as suggested to agregate the counts
# Updated 'NOC' to 'Nationality'
medals_per_nation = medals.groupby('Nationality')['Medal'].count()
print(medals_per_nation)

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

----------------------------------------------------------
The number of rows, columns (2394, 8)
---------------------------------------------------------
Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object
----------------------------------------------------------
The uniques cities are 23
---------------------------------------------------
Medals the USA team won 638
-----------------------------------------------------
Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64